<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :store_id, "Store:", style: "display: block" %>
    <%= form.collection_select :store_id, Store.all, :id, :name, { prompt: "Select a store" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :name, "Name:", style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :device_type %>
    <%= form.select :device_type, Device.device_types.keys.map { |t| [t.humanize, t] } %>
  </div>

  <div>
    <%= form.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
