<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <br>
                <br>
                <div class="row">
                    <% @stores.each do |store| %>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-bs-primary-border-subtle text-dark mb-4">
                                <div class="card-body">
                                    <h5>Store: <%= store.name %></h5>
                                    <p>Last Updated: <%= formatted_santiago_time(Time.now) %></p>
                                    <% device_statuses = @devices.where(store_id: store.id).pluck(:status) %>
                                    <% status_class = case
                                        when device_statuses.all?("error")
                                            "text-danger"
                                        when device_statuses.any?("warning")
                                            "text-warning"
                                        when device_statuses.any? { |status| status != "ok" }
                                            "text-warning"
                                        else
                                            "text-success"
                                    end %>
                                    <p>Status: <span class="<%= status_class %>">
                                        <% case status_class %>
                                            <% when "text-danger" %>
                                                <%= "error" %>
                                            <% when "text-warning" %>
                                                <%= "warning" %>
                                            <% when "text-success" %>
                                                <%= "ok" %>
                                        <% end %>
                                    </span></p>
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-dark stretched-link" href="<%= store_path(store) %>">View Devices</a>
                                    <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- Botón para agregar restaurante -->
                <div class="row">
                    <div class="col-12">
                        <a href="<%= new_store_path %>" class="btn btn-primary">Add Restaurant</a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                </div>
            </div>
        </footer>
    </div>
</body>
